[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/blue-penguin"]
	path = themes/blue-penguin
	url = https://github.com/jody-frankowski/blue-penguin.git
